/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Change to a vertical layout on small screens */
  }
}

nav {
  background-color: gainsboro; /* Background color */
  padding: 5px; /* Adjust padding as needed */
  display: flex;
  justify-content: flex-end; /* Align items to the right */
}
.headshot-container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0;
}

.headshot-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.div1{
  background-color: white;
  padding: 10vh;
}

.div2{
  padding: 5vh;
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.content1{
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color:#f0f0f0;
}

.div3{
  display: flex;
  height: 100vh;
  position: relative;
}

.rightContent{
  background-color: white;
  flex: 1;
  z-index: 1;
}

.leftContent{
 
  flex: 1;
  z-index: 1;
}

.middleContent{
  flex: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 70vh; /* Adjust the width as needed */
  height: 30vh; /* Adjust the height as needed */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.content2{
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:black;
  margin-bottom: 20px;
  padding: 50px;

}

.div-service{
  background-color: whitesmoke;
  text-align: center;
}

.service-box {
  display: inline-block;
  width: 30vh;
  height: 50vh;
  background-color: #f0f0f0;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.fillerDiv{
  height: 50vh;
  background-color: whitesmoke;
}

.backgroundimg{
  width: 100%;
}

.line {
  border-bottom: solid #938585 2px;
  width: 250px;
  padding-bottom: 15px;
  display: inline-block; /* Ensure the line only takes the width of its content */
  margin-top: 50px;
}

.image-spacing{
  margin-top: 70px;
  margin-left: 50px;
}
nav.footer-spacing p {
  margin: 3px 0;
}


body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #f0f0f0;
  position: relative;
}

.top-div {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  background-color: #E0C8EA;
  padding: 10px;
  margin-bottom: 0px; 
  margin-right: 10px;
}

.social-links {
  display: flex;
}

.social-links a {
  margin-right: 10px; /* Add some margin between the links */
}

.move-right {
  padding-left: 20px;
}

.div-test{
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.whitespace{
  margin-left: 600px;
  margin-bottom: 10px;
  border-width: 2px;
  border-color: black;
}

.no-decoration{
  text-decoration: none;
  color: black;
}

.footer-spacing{
  margin-top: 20px;
}