@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Corben', Georgia, Times, serif;
}
p, div {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}


.headshot-container { 
  box-shadow: 0 0 1em 1em #ccc;
}

